DOCTYPE html
html(lang="en")
head
    link(rel="import" href="./html/header.html")
    script(type='text/javascript').
        window.token = !{JSON.stringify(token)};
        console.log(window.token);
body
div(id="divmainpage")
script(src="./webpackbundle/mainpagebundle.js" type="text/javascript")



