.heading {
    color: #A9A9A9;
    margin-left: 30%;
}

.heading.signUpBlock {
    display: inline-block;
}

.heading.signuppageheading {
    margin-left: 37%;
}

body {
    background-color: black;
}
.help-block{
    margin-left: 37%;
}
.help-block.radio{
    margin-left: 0%;
}
.logo {
    height: 10%;
    width: 15%;
    margin-top: 2%;
    margin-left: 2%;
}

.logo.musiclogo {
    width: 5%;
}

.input {
    width: 20%;
    margin-left: 37%;
    margin-top: 3%;
}

.frontPageButton {
    width: 20%;
    margin-left: 37%;
    margin-top: 3%;
}

.frontPageButton.signUpButton {
    width: 30%;
    float: right;
    margin-left: 0%;
    margin-top: 0%;
}

.radiobuttons {
    margin-left: 37%;
    margin-top: 2%;
}
